server {
    listen 80;
    server_name *.deus.corp;
        location / {
            proxy_pass http://{{ nginx_target_host }}:{{ nginx_target_port }};
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header Host $http_host;
            proxy_redirect off;
            proxy_send_timeout 300;
            proxy_read_timeout 300;
        }
}
server {
    listen 127.0.0.1:8080;
    keepalive_timeout 0;
    access_log off;
    location = /stub_status {
    stub_status on;
    }
}