# Database administrative login by Unix domain socket
#local   all             postgres                                    peer
# TYPE  DATABASE        USER            ADDRESS                 METHOD
# "local" is for Unix domain socket connections only
local   all             all                                     trust 
# IPv4 local connections:
host    all             all             127.0.0.1/32            trust
# IPv6 local connections:
host    all             all             ::1/128                 trust
# Allow replication connections from localhost, by a user with the
# replication privilege.
# allow app hosts
{% for item in postgresql_dbs %}
host  {{ item.db }}  {{ item.user | default(postgresql_users.0.name) }}  {{ ansible_default_ipv4.address }}/{{ (ansible_default_ipv4.address + '/' + ansible_default_ipv4.netmask) | ipaddr('prefix') }} md5
host  test_{{ item.db }}  {{ item.user | default(postgresql_users.0.name) }}  {{ ansible_default_ipv4.address }}/{{ (ansible_default_ipv4.address + '/' + ansible_default_ipv4.netmask) | ipaddr('prefix') }} md5
host  postgres  {{ item.user | default(postgresql_users.0.name) }}  {{ ansible_default_ipv4.address }}/{{ (ansible_default_ipv4.address + '/' + ansible_default_ipv4.netmask) | ipaddr('prefix') }} md5
{% endfor %}


